<article class="posts">
    {{#each this}}
    <div class="title mt-5 shadow p-4 rounded">
      <h4 class="mb-3 ml-2" id="title_text"><a>{{title}}</a></h4>
       <h4 class="post_label">Description:  <span = class="post_info">{{description}}</span></h4>
        <h4 class="post_label">Seller:  <span = class="post_info">{{user.username}}</span></h5> 
    </div>
    {{/each}}

</article>

