<div class="comments ml-5 pt-5 pb-5">
    <h4 class="pt-3 pb-2 font-weight-bold">Previous comments:</h4>
    {{#each this}}
    <section class="comment ml-3">
        <div class="meta">
            <h5> Posted by {{user.username}} on {{created_at}} </h5>
        </div>
        <div class="text">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>