<article class="posts">
    <div class="title">
        <h4 id="title_text">{{title}}</h4>
            <h5 class="post_label">Description:  <span = class="post_info">{{description}}</span></h5>
            {{!-- <h5>{{username}}</h5> --}}
            <h5 class="post_label">Category:  <span class="post_info">{{category.category_name}}</span></h5>
    </div>
</article>

 {{!-- <script src="/javascript/view_posts.js"></script> --}}