<article class="posts">
    <div class="title">
        <h1>{{post.title}}</h1>
        <h2>{{post.description}}</h2>
        <h2>{{post.username}}</h2>
        <h2>{{post.category}}</h2>
    </div>
</article>