<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shane's List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

          <nav class="navbar fixed-top navbar-light bg-light">
        <ul class="navbar-nav d-inline justify-content-center">
          <a class="nav-link d-inline" id="login">Login</a>
          <a class="nav-link d-inline ml-3" id="register">Register</a>
        </ul>
        <ul class="navbar-nav d-inline">
        <a class="navbar-brand" href="/">Shane's List</a>
      </ul>
      <ul class="navbar-nav ml auto d-inline">
        <a href="/dashboard"class="nav-link" id="sell">Sell an Item</a>
      </ul>
      </nav>


    <div class="container-fluid" id="subtitle">
        <h2 class="row justify-content-md-center">Buy and Sell Your Stuff</h2>
    </div>

        <div class="container-fluid mx-auto">
            <div class="row container-fluid" id="category-icon-container">
               
                <div class="col-1"></div>
                <div class="col-2">
                    <h4>Automotive</h4>
                    <a href="http://localhost:3001/api/categories/1" class="btn btn-light mx-1 mt-3 py-1 col-2" type="click" id="auto_btn" name="category_btn"
                        value="1"></a>
                </div>
                <div class="col-2">
                    <h4>Clothing</h4>
                    <a href="http://localhost:3001/api/categories/2" class="btn btn-light col-2 mx-1 mt-3" type="click" id="clothing_btn" name="category_btn"
                        value="2"></a>
                </div>
                <div class="col-2">
                    <h4>Electronics</h4>

                    <a href="http://localhost:3001/api/categories/3" class="btn btn-light col-2 mx-1" type="click" id="electronics_btn" name="category_btn"
                        value="3"></a>
                </div>
                <div class="col-2">
                    <h4>Home</h4>

                    <a href="http://localhost:3001/api/categories/4" class="btn btn-light col-2 mx-1" type="click" id="home_btn" name="category_btn"
                        value="4"></a>
                </div>
                <div class="col-2">
                    <h4>Outdoors</h4>

                    <a href="http://localhost:3001/api/categories/5" class="btn btn-light col-2" type="click" id="outdoors_btn" name="category_btn"
                        value="5"></a>
                </div>
                 <div class="col-1"></div>
            </div>
        </div>


        <script type="module" src="/javascript/view_posts.js"></script>
        <h2 class="mx-auto text-center pb-5">User Posts</h3>
        <div class="wrapper">
        <div class="divider div-transparent pb-4"></div>
        </div>
        <main>
            {{{ body }}}
        </main>

        <footer class="container">
            <h1 classs="row justify-content-md-center" id="footer_text">Thanks for visiting!</h1>
        </footer>


</body>

</html>