<section class="container-fluid pb-3">
<h2 class="px-4">Category:    {{category.category_name}}</h2>
  
        <!-- {{#each this }} -->
            {{> category-post posts }}
        <!-- {{/each}} -->
</section>
