<h1>Welcome to Shane's List Marketplace</h1>
<h1>You are currently logged in as <%= name %> </h1>

<form action="/logout?_method=DELETE" method="POST">
    <button type="submit">Log Out</button>
    <button type="submit">Continue to Marketplace</button><a href="/homepage"></a>
</form>