<form class="login-form mb-5">
    <div class="mb-2">
        <label for="email-login" class="d-block">email:</label>
        <input type="text" id="email-login" />
    </div>

    <div>
        <label for="password-login" class="d-block">password:</label>
        <input type="pasword" id="password-login" />
    </div>

    <div>
        <button class="btn" type="submit">login</button>
    </div>
</form>

<form class="signup-form">
    <div class="mb-2">
        <label for="username-signup" class="d-block">username:</label>
        <input type="text" id="username-signup" />
    </div>

    <div>
        <label for="email-signup" class="d-block">email:</label>
        <input type="text" id="email-signup" />
    </div>

    <div>
        <label for="password-signup" class="d-block">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button class="btn" type="submit">signup</button>
    </div>
</form>


<script src="/javascript/login.js"></script>