{{> single-post-info post }}


{{#if loggedIn}}
<form class="comment-form container-fluid">
    <div class="px-5 py-3">
        <h4>Leave a comment:</h4>
        <textarea name="comment-body" class="p-5" id="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" class="btn ml-5 p-3">Save</button>
       
    </div>
</form>
{{/if}}

{{> comments post.comments }}

{{#if loggedIn}} 

<script src="/javascript/comment.js"></script>

{{/if}}