
body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: #333;
}

#login {
  font-weight: bolder;
}

#register {
  font-weight: bolder;
}

#header_text {
  border-width: 12px;
}

#subtitle {
  background-color: rgb(174, 179, 184);
}

#category_text {
  padding-top: 24px;
  font-size: larger;
  padding-bottom: 36px;
}

#category_icon {
  padding-top: 12px;
  padding-bottom: 36px;
}

#auto_btn {
  height: 144px;;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-image: url("https://media.istockphoto.com/vectors/car-icon-auto-vehicle-isolated-transport-icons-automobile-silhouette-vector-id1273534607?k=20&m=1273534607&s=612x612&w=0&h=Uynt53JLF7_JUxklSlCNP-KVm-CNLUkgpgewc2AOO2I=")
}

#clothing_btn {
  height: 144px;;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzYamufnM49T5AqY2h40awLvlHLhr3C8Xc_g&usqp=CAU")
}

#electronics_btn {
  height: 144px;;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://static.thenounproject.com/png/37565-200.png");
  background-color: white;
}

.col {
  text-align: center;
  font-weight: bolder;
}

#home_btn {
  height: 144px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://i.pinimg.com/originals/a8/be/9c/a8be9cce0543ef25ba2403eedde4e8ac.png");
  background-color: white;
}

#outdoors_btn {
  height: 144px;;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSnRO-7g77IiXKIqcfkflUlkubmWwWwM2A0YA&usqp=CAU");
  background-color: white;
}

#footer_text {
  text-align: center;
  padding-top: 36px;
}

#title_text {
  font-weight: bold;
}

.post_label {
  font-weight: bold;
  padding-left: 12px;
}

.post_info {
  font-weight: lighter;
}

#post-title:focus, #post-description:focus {
  outline: none;
  border: 1px solid #3486eb;
}
#post-title {
  width: 100%;
  height: 35px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
}
#post-description {
  width: 100%;
  height: 70px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
; 
}
#catergory_div {
  padding: 6px;
}

#category {
  margin: 12px;
  padding: 8px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 20px;
}

.btn {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
  width: 120px;
}

#username-signup, #email-login, #password-login, #email-signup, #password-signup {
  width: 40%;
  height: 35px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  margin: 8px;
  align-items: end;
}